#header {
    padding: 6px;
    text-align:center;
    display: flex;
    justify-content: flex-end;
}

#google {
    text-align: center;
    background-color: white;
    padding-top: 220px;
    padding-bottom: 50px;
}

#textbox {
    display: flex;
    z-index: 3;
    height: 38px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width:  180px auto;
    max-width: 584px;
}