#header {
    padding: 6px;
    text-align:center;
    display: flex;
    justify-content: flex-end;    
}

#google {
    text-align: center;
    background-color: white;
    padding-top: 220px;
    padding-bottom: 25px;
}

#textbox {
    display: flex;
    z-index: 3;
    height: 38px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width:  180px auto;
    max-width: 584px;
}

#button {
    padding-top: 30px;
}

.buttons {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    
    padding-top: 30px;
}